<head>
<style>
form {
  float: left;
}

textarea{
  outline: none;
  resize: none;
}
body {
  padding: 20px;
  background-color: linen;
}

h1 {
  color: maroon;
  margin-left: 40px;
}
</style>
</head>
